* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px 0 5px 0;
}

input {
  padding: 5px;
  border: 2px solid black;
  font-size: 1rem;
}

input.erro {
  border-color: red;
}

input.valido {
  border-color: green;
}

.erro-text {
  display: none;
  font-size: 0.875rem;
  color: red;
}

.erro-text.ativar {
  display: block;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
